minilibx-linux
main
assets/png
assets/xpm
assets/resized
ru.xpm
img/*
!img/tile*.xpm
!img/diams*-*.xpm
!img/grass*-*.xpm
!img/portal*-*.xpm
!img/spawn*-*.xpm
!img/water*-*.xpm
!img/bricks*-*.xpm
!img/zombie*-*.xpm
!img/display*-*.xpm
!img/nums*-*.xpm
!img/front*-*.xpm
!img/left*-*.xpm
!img/right*-*.xpm
!img/back*-*.xpm
*.sh