minilibx-linux
main
so_long
*.o
assets/png
assets/xpm
assets/resized
ru.xpm
textures/*
!textures/tile*.xpm
!textures/diams*-*.xpm
!textures/grass*-*.xpm
!textures/portal*-*.xpm
!textures/spawn*-*.xpm
!textures/water*-*.xpm
!textures/bricks*-*.xpm
!textures/zombie*-*.xpm
!textures/display*-*.xpm
!textures/nums*-*.xpm
!textures/front*-*.xpm
!textures/left*-*.xpm
!textures/right*-*.xpm
!textures/back*-*.xpm
*.sh