minilibx-linux
main
assets/png
assets/xpm
assets/resized
ru.xpm
img/*
!img/tile*.xpm
!img/diams*-*.xpm
!img/grass*-*.xpm
!img/portal*-*.xpm
!img/spawn*-*.xpm
!img/water*-*.xpm
!img/bricks*-*.xpm
!img/zombie*-*.xpm
*.sh